**Reason to use Naive Bayes ðŸ˜Ž**

<img src="https://drive.google.com/uc?export=view&id=1_MYE0T7aO9mPj8ut_-SbLtnQ-y1yhRyx" style="width: 650px; max-width: 100%; height: auto" title="Click to enlarge picture" />

Submit here :

https://forms.gle/q25E4g4fzPRSXaXk7


Here is the semi module :

https://drive.google.com/file/d/1TIl28T8nQbsnJ_hbyswlClCuiX3h-_F0/view?usp=share_link

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement math (from versions: none)
ERROR: No matching distribution found for math

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Import Library

In [3]:
import pandas as pd
import math

Read The Dataset
+ [Train Data](https://drive.google.com/uc?export=download&id=1jEWFx2JlmoknRNMXT1z16P_nC14C4_8s)
+ [Test Data](https://drive.google.com/uc?export=download&id=1kGmqelSzZm-rDnzYrCUc5xjdo0ANRaJl)
+ [Truth Data](https://drive.google.com/uc?export=download&id=1DGBMoe0MYCuSwubDgFPbS8B3qo_XFM6W)

In [4]:
def read_excel(path, sheet_target): # read excel data
    data = pd.read_excel(path, sheet_name=sheet_target)
    return pd.DataFrame(data)

In [5]:
dataTrain = read_excel("newTrain.xlsx",sheet_target="train")
dataTest = read_excel("newTest.xlsx",sheet_target="Sheet1")
dataTruth = read_excel("newTestGroundTruth.xlsx",sheet_target="Sheet1")

Show dataset

In [6]:
dataTrain

     Unnamed: 0   id  x1  x2  x3  y
0             0    1  94  71  48  1
1             1    2  35  67  87  1
2             2    3  66  97  27  0
3             3    4  43  35  24  1
4             4    5  15  85  86  0
..          ...  ...  ..  ..  .. ..
291         291  292  27   7  22  1
292         292  293  99  82  70  1
293         293  294  52  55  80  0
294         294  295   9  25  97  0
295         295  296  38  69  53  1

[296 rows x 6 columns]

In [7]:
dataTest

   Unnamed: 0   id  x1  x2  x3  y
0           0  297  82  73  78  ?
1           1  298  31  38  68  ?
2           2  299  64  91  73  ?
3           3  300  33  35  26  ?
4           4  301  11  82  30  ?
5           5  302  88  26  36  ?
6           6  303  22  46  46  ?
7           7  304  14  54  12  ?
8           8  305  34  54  67  ?
9           9  306  98  96  60  ?

In [8]:
dataTruth

   Unnamed: 0   id  x1  x2  x3  y
0           0  297  82  73  78  1
1           1  298  31  38  68  1
2           2  299  64  91  73  1
3           3  300  33  35  26  0
4           4  301  11  82  30  0
5           5  302  88  26  36  1
6           6  303  22  46  46  1
7           7  304  14  54  12  1
8           8  305  34  54  67  0
9           9  306  98  96  60  0

Data Exploration

In [9]:
dataTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  296 non-null    int64
 1   id          296 non-null    int64
 2   x1          296 non-null    int64
 3   x2          296 non-null    int64
 4   x3          296 non-null    int64
 5   y           296 non-null    int64
dtypes: int64(6)
memory usage: 14.0 KB

In [10]:
dataTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   id          10 non-null     int64
 2   x1          10 non-null     int64
 3   x2          10 non-null     int64
 4   x3          10 non-null     int64
 5   y           10 non-null     object
dtypes: int64(5), object(1)
memory usage: 608.0+ bytes

In [11]:
dataTruth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   id          10 non-null     int64
 2   x1          10 non-null     int64
 3   x2          10 non-null     int64
 4   x3          10 non-null     int64
 5   y           10 non-null     int64
dtypes: int64(6)
memory usage: 608.0 bytes

**Data Preprocessing**

Every Dataset have unnecesary column we should drop it

In [12]:
dataTrain = dataTrain.drop(["Unnamed: 0"],axis=1)
dataTest = dataTest.drop(["Unnamed: 0"],axis=1)
dataTruth = dataTruth.drop(["Unnamed: 0"],axis=1)

In [13]:
dataTest.head(5)

    id  x1  x2  x3  y
0  297  82  73  78  ?
1  298  31  38  68  ?
2  299  64  91  73  ?
3  300  33  35  26  ?
4  301  11  82  30  ?

In [14]:
dataTruth.head(5)

    id  x1  x2  x3  y
0  297  82  73  78  1
1  298  31  38  68  1
2  299  64  91  73  1
3  300  33  35  26  0
4  301  11  82  30  0

Min-Max Normalization

<img src="https://drive.google.com/uc?export=view&id=1GYrk1-5V-zhQjU3qYT_DWoFwzfBi6wqM" style="width: 650px; max-width: 100%; height: auto" title="Click to enlarge picture" />

In [15]:
def normalizationMinMax(allData, columnTarget):
    for column in columnTarget: 
        allData[column] = (allData[column] - allData[column].min()) / (allData[column].max() - allData[column].min()) # it is a dataframe variable
    
    return  allData

In [16]:
testStartID = dataTrain.index.stop # Since we will combine them to do normalization
allData = pd.concat([dataTrain, dataTest]) # Combine them
allData = normalizationMinMax(allData,['x1','x2','x3'])#columnTarget=[])
normTrain, normTest = allData.iloc[:testStartID].drop('id', axis=1), allData.iloc[testStartID:].drop('id', axis=1)

In [17]:
normTrain

       x1    x2    x3  y
0    0.94  0.71  0.48  1
1    0.35  0.67  0.87  1
2    0.66  0.97  0.27  0
3    0.43  0.35  0.24  1
4    0.15  0.85  0.86  0
..    ...   ...   ... ..
291  0.27  0.07  0.22  1
292  0.99  0.82  0.70  1
293  0.52  0.55  0.80  0
294  0.09  0.25  0.97  0
295  0.38  0.69  0.53  1

[296 rows x 4 columns]

In [18]:
normTest

     x1    x2    x3  y
0  0.82  0.73  0.78  ?
1  0.31  0.38  0.68  ?
2  0.64  0.91  0.73  ?
3  0.33  0.35  0.26  ?
4  0.11  0.82  0.30  ?
5  0.88  0.26  0.36  ?
6  0.22  0.46  0.46  ?
7  0.14  0.54  0.12  ?
8  0.34  0.54  0.67  ?
9  0.98  0.96  0.60  ?

Mean Normalization/Standardization

<img src="https://drive.google.com/uc?export=view&id=1KM75uePbNN9WqJ9dWpthp0DCZnHb6cvQ" style="width: 650px; max-width: 100%; height: auto" title="Click to enlarge picture" />

In [19]:
def standardization(allData, columnTarget):
    for column in columnTarget:
        allData[column] = (allData[column]-allData[column].mean())/(allData[column].std())
   
    return allData

In [20]:
testStartID = dataTrain.index.stop # Since we will combine them to do normalization
allData = pd.concat([dataTrain, dataTest]) # Combine them
allData = standardization(allData, columnTarget=['x1','x2','x3'])
stdTrain, stdTest = allData.iloc[:testStartID].drop('id', axis=1), allData.iloc[testStartID:].drop('id', axis=1)

In [21]:
stdTrain

           x1        x2        x3  y
0    1.495717  0.628762  0.036067  1
1   -0.466474  0.495728  1.368636  1
2    0.564507  1.493487 -0.681470  0
3   -0.200414 -0.568549 -0.783976  1
4   -1.131623  1.094383  1.334467  0
..        ...       ...       ... ..
291 -0.732534 -1.499791 -0.852313  1
292  1.662004  0.994607  0.787772  1
293  0.098903  0.096624  1.129457  0
294 -1.331168 -0.901135  1.710320  0
295 -0.366702  0.562245  0.206909  1

[296 rows x 4 columns]

In [22]:
stdTest

         x1        x2        x3  y
0  1.096627  0.695280  1.061120  ?
1 -0.599504 -0.468773  0.719435  ?
2  0.497993  1.293935  0.890277  ?
3 -0.532989 -0.568549 -0.715639  ?
4 -1.264653  0.994607 -0.578965  ?
5  1.296172 -0.867877 -0.373955  ?
6 -0.898821 -0.202704 -0.032270  ?
7 -1.164881  0.063365 -1.193997  ?
8 -0.499731  0.063365  0.685267  ?
9  1.628746  1.460228  0.446088  ?

*If you look closely into the code for doing Min-Max and Mean Normalization, we need to combine them first. Why? Because we want the train and test data to have the same data distribution*

**Learning Phase**

*We will be using original data in this case (not doing any normalization)*

<img src="https://drive.google.com/uc?export=view&id=
1a5rqj0tUAZ7CY64zMkszJgdXeyFN83eB" style="width: 650px; max-width: 100%; height: auto" title="Click to enlarge picture" />

Splitting data based on their truth value

In [23]:
def splitTruth(dataTrain, columnTarget):
  truthData = []
  for truth in dataTrain[columnTarget].unique():
    truthData.append(dataTrain.where(dataTrain[columnTarget]==truth).dropna())
  return truthData

yesData, noData = splitTruth(dataTrain, columnTarget='y')

Show 'yes' (y = 1) data

In [24]:
yesData

        id    x1    x2    x3    y
0      1.0  94.0  71.0  48.0  1.0
1      2.0  35.0  67.0  87.0  1.0
3      4.0  43.0  35.0  24.0  1.0
6      7.0  36.0  17.0  11.0  1.0
10    11.0  69.0  29.0   9.0  1.0
..     ...   ...   ...   ...  ...
284  285.0  96.0  78.0  24.0  1.0
289  290.0  10.0  22.0  87.0  1.0
291  292.0  27.0   7.0  22.0  1.0
292  293.0  99.0  82.0  70.0  1.0
295  296.0  38.0  69.0  53.0  1.0

[130 rows x 5 columns]

Show 'no' (y = 0) data

In [25]:
noData

        id    x1     x2    x3    y
2      3.0  66.0   97.0  27.0  0.0
4      5.0  15.0   85.0  86.0  0.0
5      6.0  63.0    6.0  39.0  0.0
7      8.0  98.0   50.0  15.0  0.0
8      9.0   3.0  100.0  98.0  0.0
..     ...   ...    ...   ...  ...
287  288.0   1.0   64.0   8.0  0.0
288  289.0  12.0   50.0  48.0  0.0
290  291.0   5.0   74.0  62.0  0.0
293  294.0  52.0   55.0  80.0  0.0
294  295.0   9.0   25.0  97.0  0.0

[166 rows x 5 columns]

Find data mean

In [26]:
def find_mean(yesData, noData, columnTarget):
    yesMean = dict()
    noMean = dict()
    for column in columnTarget:
        yesMean[column] = yesData[column].mean()  # it is a dataframe variable
        noMean[column] = noData[column].mean() # it is a dataframe variable
    return yesMean, noMean

yesMean, noMean = find_mean(yesData, noData, columnTarget=['x1','x2','x3'])

In [27]:
print(f"Mean Result\n1 : {yesMean}\n0 : {noMean}")

Mean Result
1 : {'x1': 49.37692307692308, 'x2': 52.54615384615385, 'x3': 44.65384615384615}
0 : {'x1': 48.83132530120482, 'x2': 51.295180722891565, 'x3': 48.57831325301205}

Find data standard deviation

In [28]:
def find_std(yesData, noData, columnTarget):
    yesStd = dict()
    noStd = dict()
    for column in columnTarget:
        yesStd[column] = yesData[column].std() # it is a dataframe variable
        noStd[column] = noData[column].std() # it is a dataframe variable

    return yesStd, noStd

yesStd, noStd = find_std(yesData, noData, columnTarget=['x1','x2','x3'])

In [29]:
print(f"Standard Deviation Result\n1 : {yesStd}\n0 : {noStd}")

Standard Deviation Result
1 : {'x1': 30.672631384355476, 'x2': 30.672592502572407, 'x3': 28.23811035755217}
0 : {'x1': 29.636921803562995, 'x2': 29.974588848453084, 'x3': 30.40439381402378}

Calculate Probability

<img src="https://drive.google.com/uc?export=view&id=
1a5rqj0tUAZ7CY64zMkszJgdXeyFN83eB" style="width: 650px; max-width: 100%; height: auto" title="Click to enlarge picture" />

In [30]:
def calc_probality(mean, std, x):

  exponent = math.exp(-((x-mean)**2/(2*std**2)))

  return (1/(math.sqrt(2*math.pi)*std))*exponent

Confussion Matrix

In [31]:
def confussionMatrix(result):

    TP = 0

    FP = 0

    TN = 0

    FN = 0

 

    x = True

 

    for i in result:

        if(i['Ground Truth'] == '?'):

            x = False

            break

        elif((i['Prediction Result'] == 1)and(i['Prediction Result'] == i['Ground Truth'])):

            TP += 1

        elif((i['Prediction Result'] == 0)and(i['Prediction Result'] == i['Ground Truth'])):

            TN += 1

        elif((i['Prediction Result'] == 1)and(i['Prediction Result'] != i['Ground Truth'])):

            FP += 1

        elif((i['Prediction Result'] == 0)and(i['Prediction Result'] != i['Ground Truth'])):

            FN += 1

        

    if(x):

        print(f"\nTP : {TP} FN : {FP}\nTN : {TN} FN : {FN}")

        print(f"Accuracy : {((TP+TN)/(TP+TN+FP+FN))*100}%")

        print(f"Precission : {((TP)/(TP+FP))*100}%")

        print(f"Recall : {((TP)/(TP+FN))*100}%")

    else:

        print("\nCannot process the confussion matrix with unknown Ground Truth!")

**Prediction**

*if you want to use more than one column for the prediction, take a look at this slide for reference*

<img src="https://drive.google.com/uc?export=view&id=
1jaKm39Ve3P-TljB6xg_3N_nYtWuYv5z4" style="width: 650px; max-width: 100%; height: auto" title="Click to enlarge picture" />

In [32]:
def doPrediction(yesMean, yesStd, noMean, noStd, target, columnTarget, truthColumn):

  result = []

  for i in range(len(target)):

    yesResult = 1

    noResult = 1

    for column in columnTarget:

      yesResult *= calc_probality(yesMean[column], yesStd[column], target[column].iloc[i])

      noResult *= calc_probality(noMean[column], noStd[column], target[column].iloc[i])

    result.append({'ID' : target['id'].iloc[i], 'Yes Probability' : "{}".format(yesResult), 'No Probability' : "{}".format(noResult),

                        'Prediction Result' : int(yesResult > noResult), 

                       'Ground Truth' : target[truthColumn].iloc[i]})

  return result

Result

In [33]:
# result

result = []

target = dataTest 

 

result = doPrediction(yesMean, yesStd, noMean, noStd, target, columnTarget=['x1','x2','x3'], truthColumn='y')

 

for p in result:

    print(p)

 

confussionMatrix(result)

{'ID': 297, 'Yes Probability': '5.412239152254762e-07', 'No Probability': '6.05380751888213e-07', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 298, 'Yes Probability': '1.268183102276647e-06', 'No Probability': '1.4496949713556619e-06', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 299, 'Yes Probability': '5.873929839001775e-07', 'No Probability': '6.211806302152328e-07', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 300, 'Yes Probability': '1.4147241120682664e-06', 'No Probability': '1.3345162711554498e-06', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 301, 'Yes Probability': '6.022124059052764e-07', 'No Probability': '5.110315422135354e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 302, 'Yes Probability': '7.096448526768554e-07', 'No Probability': '6.311279739428465e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 303, 'Yes Probability': '1.5668184807668288e-06', 'No Probability': '1.5306959624281995e-06', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 304, 'Yes Probability': '6.290307872711389e-07', 'No Probability': '5.69134388093406e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 305, 'Yes Probability': '1.5393815128307137e-06', 'No Probability': '1.7192663995980988e-06', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 306, 'Yes Probability': '2.1515847890696422e-07', 'No Probability': '1.8191907580346846e-07', 'Prediction Result': 1, 'Ground Truth': '?'}

Cannot process the confussion matrix with unknown Ground Truth!

*This code only provide a simplify version of Naive Bayes implementation. So, feel free to modify or fix it*

**Some Tips**

Take a closer look at the y column (the truth value from the train data). How many 0 and 1 in the data? If the difference is too big, what should you do?

Learn more from here :
- https://lamduy-nguyen.medium.com/skewness-definition-problem-and-reducing-methods-a5ee25a8b6ca
- https://www.analyticsvidhya.com/blog/2020/07/what-is-skewness-statistics/
- https://towardsdatascience.com/avoid-mistakes-in-machine-learning-models-with-skewed-count-data-e3512b94d745



Code References :
- https://medium.com/analytics-vidhya/how-to-improve-naive-bayes-9fa698e14cba
- https://www.kaggle.com/code/akshaysharma001/naive-bayes-with-hyperpameter-tuning
- https://www.analyticsvidhya.com/blog/2021/01/gaussian-naive-bayes-with-hyperpameter-tuning/
- Lecture Slides

**Extra**

- Folding

Fold your dataset to have training and validation dataset

In [34]:
def folding(dataset, trainingPercentage, location, shuffle:bool):

    lengthTraining = int(len(dataset)*trainingPercentage/100)

    # randomize the the data position

    if(shuffle):

        dataset = dataset.sample(frac=1).reset_index(drop=True)

    train = []

    validation = []

    if(location == 'left'):

        train, validation = dataset.iloc[:lengthTraining].reset_index(drop=True), dataset.iloc[lengthTraining:].reset_index(drop=True)

    elif(location == 'right'):

        validation,train = dataset.iloc[:abs(lengthTraining-len(dataset))].reset_index(drop=True), dataset.iloc[abs(lengthTraining-len(dataset)):].reset_index(drop=True)

    elif(location == 'middle'):

        train = dataset.iloc[int(abs(lengthTraining-len(dataset))/2):len(dataset)-int(abs(lengthTraining-len(dataset))/2)]

        validation = pd.concat([dataset.iloc[:int(abs(lengthTraining-len(dataset))/2)],dataset.iloc[len(dataset)-int(abs(lengthTraining-len(dataset))/2):]])

    return train, validation

In [35]:
trainData, validationData = folding(dataTrain.copy(), 70, 'left',shuffle=True)

In [36]:
trainData

      id  x1  x2  x3  y
0     25  95  64  16  1
1     83  82  58  26  0
2     90  73  12  91  0
3    176  49   5  56  1
4    146  19  50  83  1
..   ...  ..  ..  .. ..
202  272  42  34  33  1
203  144   7   3  36  1
204  177   0  68  11  0
205  143  17  62  48  0
206  179  66   6  99  0

[207 rows x 5 columns]

In [37]:
validationData

     id  x1   x2  x3  y
0    21   7   48  39  1
1   115  54   13  70  0
2    55  68   46  16  1
3    39  23   21  49  1
4    16  77   16  54  1
..  ...  ..  ...  .. ..
84  185  95   72  21  0
85   88  96   44  28  1
86  161  84  100  28  1
87  107  66   96  97  0
88   52  47   80  10  1

[89 rows x 5 columns]

Split the data into yes and no

In [38]:
# Split yes and no
yesDataTrain, noDataTrain = splitTruth(trainData, columnTarget='y')

In [39]:
yesDataTrain

        id    x1    x2    x3    y
0     25.0  95.0  64.0  16.0  1.0
3    176.0  49.0   5.0  56.0  1.0
4    146.0  19.0  50.0  83.0  1.0
5     82.0  12.0  72.0  87.0  1.0
9     69.0  31.0  33.0   1.0  1.0
..     ...   ...   ...   ...  ...
195   22.0  86.0  43.0  47.0  1.0
199  113.0  77.0  91.0  71.0  1.0
200  244.0  33.0  82.0  96.0  1.0
202  272.0  42.0  34.0  33.0  1.0
203  144.0   7.0   3.0  36.0  1.0

[90 rows x 5 columns]

In [40]:
noDataTrain

        id    x1    x2    x3    y
1     83.0  82.0  58.0  26.0  0.0
2     90.0  73.0  12.0  91.0  0.0
6    247.0  13.0  60.0  30.0  0.0
7    260.0  37.0  66.0  10.0  0.0
8    202.0  64.0  93.0  29.0  0.0
..     ...   ...   ...   ...  ...
198   30.0  52.0  18.0  28.0  0.0
201  153.0  96.0  58.0   3.0  0.0
204  177.0   0.0  68.0  11.0  0.0
205  143.0  17.0  62.0  48.0  0.0
206  179.0  66.0   6.0  99.0  0.0

[117 rows x 5 columns]

Do prediction again after you made some tweaks

In [41]:
# Split yes and no
yesDataTrain, noDataTrain = splitTruth(trainData, columnTarget='y')
# Find mean
yesMeanTrain, noMeanTrain = find_mean(yesDataTrain, noDataTrain, columnTarget=['x1','x2','x3'])
# Find standard deviation
yesStdTrain, noStdTrain = find_std(yesDataTrain, noDataTrain, ['x1','x2','x3'])
result = []
target = validationData # your ground truth dataa
result = doPrediction(yesMeanTrain, yesStdTrain, noMeanTrain, noStdTrain, target, columnTarget=['x1','x2','x3'], truthColumn='y')
for p in result:
    print(p)
confussionMatrix(result)

{'ID': 21, 'Yes Probability': '9.769716638376048e-07', 'No Probability': '8.570745478128916e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 115, 'Yes Probability': '6.797138542334919e-07', 'No Probability': '8.705253118552937e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 55, 'Yes Probability': '1.145717759631844e-06', 'No Probability': '1.003979597421177e-06', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 39, 'Yes Probability': '1.0022978350746621e-06', 'No Probability': '1.0842009925665705e-06', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 16, 'Yes Probability': '6.782302674860077e-07', 'No Probability': '6.788939588103133e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 175, 'Yes Probability': '1.4325030958132788e-06', 'No Probability': '1.4908403745148723e-06', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 24, 'Yes Probability': '3.1280113478887406e-07', 'No Probability': '2.528143053790523e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 266, 'Yes Probability': '1.0287165922988244e-06', 'No Probability': '7.643771443444314e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 124, 'Yes Probability': '5.817981346468743e-07', 'No Probability': '5.574752385345785e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 86, 'Yes Probability': '1.9001702985186998e-06', 'No Probability': '1.7919841547721697e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 100, 'Yes Probability': '1.1703425228347976e-07', 'No Probability': '1.6477082451666568e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 245, 'Yes Probability': '8.78172734917134e-07', 'No Probability': '7.554318846704483e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 104, 'Yes Probability': '2.3401616757620837e-07', 'No Probability': '1.848494083209456e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 59, 'Yes Probability': '2.7927086590867323e-07', 'No Probability': '2.3705415828381577e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 91, 'Yes Probability': '3.428327008821778e-07', 'No Probability': '2.787467351410133e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 136, 'Yes Probability': '3.284626352035617e-07', 'No Probability': '4.1042557022056524e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 167, 'Yes Probability': '8.59273503151639e-07', 'No Probability': '6.127125147205286e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 194, 'Yes Probability': '6.213058038527996e-07', 'No Probability': '5.46970391482481e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 49, 'Yes Probability': '1.9492388825362382e-07', 'No Probability': '2.487785041185345e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 37, 'Yes Probability': '4.3274857633238206e-07', 'No Probability': '3.631447698359887e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 117, 'Yes Probability': '2.717762730605554e-07', 'No Probability': '2.1861025866777556e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 61, 'Yes Probability': '3.6283838748427167e-07', 'No Probability': '2.7296581079226214e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 164, 'Yes Probability': '2.259184134719141e-06', 'No Probability': '2.2125090976419932e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 213, 'Yes Probability': '4.014123371301107e-07', 'No Probability': '2.856074139645956e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 228, 'Yes Probability': '1.0227432006784859e-06', 'No Probability': '1.0903703296029265e-06', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 45, 'Yes Probability': '6.016891547448696e-07', 'No Probability': '4.5534814654132643e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 265, 'Yes Probability': '7.420285789394566e-07', 'No Probability': '8.533803740757259e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 282, 'Yes Probability': '9.864236860311982e-08', 'No Probability': '1.2471159123754212e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 263, 'Yes Probability': '1.3409787346680694e-06', 'No Probability': '1.1240121887345486e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 195, 'Yes Probability': '1.227479896924325e-06', 'No Probability': '1.131359819645961e-06', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 165, 'Yes Probability': '8.306287314113879e-07', 'No Probability': '7.308886854324545e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 154, 'Yes Probability': '6.49406380647915e-07', 'No Probability': '7.071012448506142e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 112, 'Yes Probability': '9.388338767273025e-07', 'No Probability': '6.83307168569839e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 248, 'Yes Probability': '3.1970573772861053e-07', 'No Probability': '2.4430904716331857e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 218, 'Yes Probability': '8.406311318288411e-07', 'No Probability': '7.644902354249683e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 40, 'Yes Probability': '1.7181509785034168e-07', 'No Probability': '3.0464328429849897e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 10, 'Yes Probability': '1.2302314738039512e-07', 'No Probability': '2.2943014158915746e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 229, 'Yes Probability': '4.5341461341490335e-07', 'No Probability': '3.0365925951921274e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 122, 'Yes Probability': '9.120698018243941e-07', 'No Probability': '9.964020968065802e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 12, 'Yes Probability': '5.843643101882344e-07', 'No Probability': '4.6033170232551235e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 120, 'Yes Probability': '2.0106997484345987e-07', 'No Probability': '1.2698691785029721e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 125, 'Yes Probability': '5.539272294055915e-08', 'No Probability': '9.149788770861685e-08', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 145, 'Yes Probability': '8.302236224018939e-07', 'No Probability': '8.549544791164443e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 231, 'Yes Probability': '5.718265148163516e-07', 'No Probability': '4.477969594314505e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 151, 'Yes Probability': '3.5669043461928457e-07', 'No Probability': '3.770304780265062e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 238, 'Yes Probability': '1.360225509904678e-06', 'No Probability': '1.2019441184988309e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 128, 'Yes Probability': '1.5468565262902606e-07', 'No Probability': '1.0131505538091349e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 262, 'Yes Probability': '1.4952225983366578e-06', 'No Probability': '1.6968340784014015e-06', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 256, 'Yes Probability': '8.122835760226402e-07', 'No Probability': '7.493664849140496e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 7, 'Yes Probability': '5.50034216974872e-07', 'No Probability': '6.144988935755062e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 184, 'Yes Probability': '2.8313596474321376e-07', 'No Probability': '3.5008404035683964e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 79, 'Yes Probability': '1.652830165709722e-06', 'No Probability': '1.518958037385713e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 290, 'Yes Probability': '2.3168796897112287e-07', 'No Probability': '3.289396640458491e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 57, 'Yes Probability': '1.2879419083227605e-07', 'No Probability': '1.4592495581542345e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 289, 'Yes Probability': '1.2378237815759814e-06', 'No Probability': '1.1329228954264152e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 279, 'Yes Probability': '1.8876034039837825e-06', 'No Probability': '1.9342019409910966e-06', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 129, 'Yes Probability': '4.21856319389559e-07', 'No Probability': '4.904692158253758e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 114, 'Yes Probability': '1.01927035270415e-06', 'No Probability': '8.598721601058815e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 178, 'Yes Probability': '8.524824524467301e-07', 'No Probability': '6.212545697315737e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 60, 'Yes Probability': '1.7978962650463978e-06', 'No Probability': '1.9033921765086476e-06', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 182, 'Yes Probability': '1.9305343350022831e-07', 'No Probability': '2.162294990944106e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 27, 'Yes Probability': '3.693978525461752e-07', 'No Probability': '5.964361502858718e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 162, 'Yes Probability': '1.4662402629750003e-06', 'No Probability': '1.4371706652101425e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 14, 'Yes Probability': '5.336816271785571e-07', 'No Probability': '5.526144522317797e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 187, 'Yes Probability': '2.0382361850301412e-07', 'No Probability': '1.2905375417707768e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 253, 'Yes Probability': '9.49517110547375e-08', 'No Probability': '1.0131700934774136e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 219, 'Yes Probability': '6.838981530364539e-07', 'No Probability': '6.514132520478232e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 198, 'Yes Probability': '3.421461031980446e-07', 'No Probability': '2.1520753818783987e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 193, 'Yes Probability': '1.3562555585843242e-06', 'No Probability': '1.1601536969788921e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 19, 'Yes Probability': '5.824678450130433e-07', 'No Probability': '4.030334030798226e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 208, 'Yes Probability': '4.5430654110279306e-07', 'No Probability': '3.531796423082446e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 46, 'Yes Probability': '3.239472520790656e-07', 'No Probability': '2.549925499157221e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 201, 'Yes Probability': '3.0297787126351437e-07', 'No Probability': '2.0012987571420656e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 133, 'Yes Probability': '1.2340536845909868e-06', 'No Probability': '1.0346126025088142e-06', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 207, 'Yes Probability': '1.349020730191811e-06', 'No Probability': '1.1730442081720715e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 192, 'Yes Probability': '1.0183902813751393e-06', 'No Probability': '9.400746385005378e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 155, 'Yes Probability': '3.678872728940947e-07', 'No Probability': '3.033622413142353e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 13, 'Yes Probability': '4.886250248489969e-07', 'No Probability': '5.706663489076665e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 111, 'Yes Probability': '2.5482476054535783e-07', 'No Probability': '2.0190326390963025e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 92, 'Yes Probability': '2.311586840666618e-06', 'No Probability': '2.2545701677802028e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 210, 'Yes Probability': '7.81257723061477e-08', 'No Probability': '1.0038966918267785e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 234, 'Yes Probability': '5.82227377445991e-07', 'No Probability': '7.718575944710624e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 288, 'Yes Probability': '3.0364072071426324e-07', 'No Probability': '2.5617648582589404e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 157, 'Yes Probability': '2.476568527046861e-07', 'No Probability': '2.1807323453593548e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 185, 'Yes Probability': '4.023384412390581e-07', 'No Probability': '2.631566912928239e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 88, 'Yes Probability': '5.403338984960775e-07', 'No Probability': '3.762153084554999e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 161, 'Yes Probability': '2.7449424374517687e-07', 'No Probability': '1.919699687882555e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 107, 'Yes Probability': '1.367916606619212e-07', 'No Probability': '1.7706897846186172e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 52, 'Yes Probability': '7.650483009904643e-07', 'No Probability': '6.793151980847902e-07', 'Prediction Result': 1, 'Ground Truth': 1}

TP : 24 FN : 32
TN : 17 FN : 16
Accuracy : 46.06741573033708%
Precission : 42.857142857142854%
Recall : 60.0%

Predict again the dataTest

In [42]:
result = []
target = dataTest # your ground truth data
result = doPrediction(yesMeanTrain, yesStdTrain, noMeanTrain, noStdTrain, target, columnTarget=['x1','x2','x3'], truthColumn='y')
for p in result:
    print(p)

confussionMatrix(result)

{'ID': 297, 'Yes Probability': '5.268524612225597e-07', 'No Probability': '4.94843686376672e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 298, 'Yes Probability': '1.3863159669088493e-06', 'No Probability': '1.5744676250771555e-06', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 299, 'Yes Probability': '5.757441650688193e-07', 'No Probability': '5.637356286638914e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 300, 'Yes Probability': '1.4884706577798395e-06', 'No Probability': '1.4612814710966184e-06', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 301, 'Yes Probability': '6.362253952215626e-07', 'No Probability': '5.191417448826904e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 302, 'Yes Probability': '6.333812384875347e-07', 'No Probability': '5.179757448141553e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 303, 'Yes Probability': '1.7037778016842526e-06', 'No Probability': '1.6198166838352812e-06', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 304, 'Yes Probability': '6.883106165775162e-07', 'No Probability': '6.242849871104368e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 305, 'Yes Probability': '1.6913146591229214e-06', 'No Probability': '1.7978432223815636e-06', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 306, 'Yes Probability': '1.8009188845500607e-07', 'No Probability': '1.2236346576189755e-07', 'Prediction Result': 1, 'Ground Truth': '?'}

Cannot process the confussion matrix with unknown Ground Truth!

**Exercise**

In [3]:
exerciseData = pd.read_csv("broken.csv")

NameError: name 'pd' is not defined

Data Exploration

In [44]:
exerciseData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Enggine     995 non-null    int64
 1   Compressor  995 non-null    int64
 2   Broken      995 non-null    int64
dtypes: int64(3)
memory usage: 23.4 KB

In [45]:
exerciseData.describe()

          Enggine  Compressor      Broken
count  995.000000  995.000000  995.000000
mean    44.382915   79.194975    0.501508
std      6.843398    9.351840    0.500249
min     20.000000   50.000000    0.000000
25%     40.000000   72.000000    0.000000
50%     45.000000   80.000000    1.000000
75%     50.000000   87.000000    1.000000
max     80.000000  100.000000    1.000000

In [46]:
exerciseData.head(10)

   Enggine  Compressor  Broken
0       80          95       0
1       69          92       1
2       45          63       1
3       45          80       0
4       47          73       0
5       45          82       1
6       40          85       0
7       30          63       1
8       65          65       1
9       45          82       0

I want to add id column

In [47]:
id = [i for i in range(len(exerciseData))]
exerciseData['id'] = id

I choose your method for data scaling (Choose one : Original, Normalization, or Standardization)

In [48]:
rescaleData = standardization(exerciseData, columnTarget=['Enggine', 'Compressor'])
rescaleData.head()

    Enggine  Compressor  Broken  id
0  5.204590    1.690044       0   0
1  3.597202    1.369252       1   1
2  0.090172   -1.731742       1   2
3  0.090172    0.086082       0   3
4  0.382425   -0.662434       0   4

Make **training** and **test** data

In [49]:
trainData, testData = folding(rescaleData, trainingPercentage=80, location='left', shuffle=True)
trainData

      Enggine  Compressor  Broken   id
0    0.090172    0.406874       0  804
1    0.820804    1.155390       0  446
2   -0.640459    1.155390       0  705
3    0.090172   -0.234710       1  228
4   -0.640459   -1.517880       1   37
..        ...         ...     ...  ...
791  0.820804   -1.304019       1  391
792  0.090172    0.620736       0  569
793 -0.640459   -1.197088       1  321
794 -0.640459    0.406874       1  581
795 -0.640459    1.476183       0  611

[796 rows x 4 columns]

Split each truth value

In [50]:
yesData,noData = splitTruth(trainData, columnTarget='Broken')
yesData

      Enggine  Compressor  Broken     id
0    0.090172    0.406874     0.0  804.0
1    0.820804    1.155390     0.0  446.0
2   -0.640459    1.155390     0.0  705.0
5   -0.640459    0.299944     0.0  699.0
7   -0.640459    0.620736     0.0  341.0
..        ...         ...     ...    ...
787  0.090172    0.620736     0.0  340.0
788  0.090172    0.620736     0.0  192.0
790 -0.640459    1.155390     0.0  104.0
792  0.090172    0.620736     0.0  569.0
795 -0.640459    1.476183     0.0  611.0

[389 rows x 4 columns]

Find mean

In [51]:
yesMean, noMean = find_mean(yesData, noData, columnTarget=['Enggine','Compressor'])
yesMean

{'Enggine': -0.03116123736976531, 'Compressor': 0.8219530037349069}

Find standard deviation

In [52]:
yesStd, noStd = find_std(yesData, noData, columnTarget=['Enggine','Compressor'])
yesStd

{'Enggine': 0.60544622374727, 'Compressor': 0.4856862406797067}

Do prediction and Show the model performance

In [53]:
result = []

target = testData

 

result = doPrediction(yesMean, yesStd, noMean, noStd, target, columnTarget=['Enggine','Compressor'], truthColumn='Broken')

 

for p in result:

    print(p)

 

confussionMatrix(result)

{'ID': 667, 'Yes Probability': '0.0004957151858383593', 'No Probability': '0.016732390819559614', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 293, 'Yes Probability': '0.32607908714954364', 'No Probability': '0.009037526251823722', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 526, 'Yes Probability': '0.5302987333939329', 'No Probability': '0.0107340418103403', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 66, 'Yes Probability': '6.828208068833379e-06', 'No Probability': '0.003176068563420838', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 182, 'Yes Probability': '0.004385306077747119', 'No Probability': '0.06531170743289352', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 971, 'Yes Probability': '3.1411790686819123e-06', 'No Probability': '0.07950843557694554', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 105, 'Yes Probability': '0.4868517496121673', 'No Probability': '0.02141312664034532', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 98, 'Yes Probability': '4.2660506927522063e-07', 'No Probability': '0.05549120446715002', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 436, 'Yes Probability': '0.29773256403855547', 'No Probability': '0.05042285924663948', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 993, 'Yes Probability': '8.07873221039198e-09', 'No Probability': '0.03149013097420698', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 603, 'Yes Probability': '0.004969880126605622', 'No Probability': '0.1808794829725278', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 906, 'Yes Probability': '3.6337896304805826e-10', 'No Probability': '0.016179458954430372', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 779, 'Yes Probability': '0.20103116839229968', 'No Probability': '0.00901909996547237', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 146, 'Yes Probability': '0.01886222151039246', 'No Probability': '0.10942893432675628', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 7, 'Yes Probability': '1.5507380048055893e-09', 'No Probability': '0.01627882702083375', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 462, 'Yes Probability': '8.291296693942888e-05', 'No Probability': '0.09237696185574903', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 692, 'Yes Probability': '0.18307485306450091', 'No Probability': '0.042453525166497356', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 273, 'Yes Probability': '0.0003263861479498366', 'No Probability': '0.15155471069769139', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 188, 'Yes Probability': '0.010653759643387528', 'No Probability': '0.13555883299898502', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 702, 'Yes Probability': '0.13166299844142612', 'No Probability': '0.0006411064348650344', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 670, 'Yes Probability': '2.9763122469946987e-06', 'No Probability': '0.09316475689452927', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 60, 'Yes Probability': '0.16834090677966107', 'No Probability': '0.07918456047757837', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 989, 'Yes Probability': '9.376956844370235e-05', 'No Probability': '0.15919417223746238', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 348, 'Yes Probability': '0.010653759643387528', 'No Probability': '0.13555883299898502', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 141, 'Yes Probability': '0.16834090677966107', 'No Probability': '0.07918456047757837', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 589, 'Yes Probability': '0.1395759392612304', 'No Probability': '0.0326163457230136', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 576, 'Yes Probability': '0.06381642468113359', 'No Probability': '0.0665335089324224', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 111, 'Yes Probability': '0.20103116839229968', 'No Probability': '0.00901909996547237', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 772, 'Yes Probability': '0.5146424360210053', 'No Probability': '0.007331946999826844', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 630, 'Yes Probability': '0.16834090677966107', 'No Probability': '0.07918456047757837', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 689, 'Yes Probability': '0.1395759392612304', 'No Probability': '0.0326163457230136', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 841, 'Yes Probability': '0.29773256403855547', 'No Probability': '0.05042285924663948', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 28, 'Yes Probability': '0.07840574010042371', 'No Probability': '0.1130035397241886', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 366, 'Yes Probability': '0.15887829239896326', 'No Probability': '0.002675224143546036', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 553, 'Yes Probability': '0.2993636682378506', 'No Probability': '0.018028781475336132', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 539, 'Yes Probability': '2.9763122469946987e-06', 'No Probability': '0.09316475689452927', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 970, 'Yes Probability': '0.04821145243097999', 'No Probability': '0.09514332763475439', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 795, 'Yes Probability': '0.04821145243097999', 'No Probability': '0.09514332763475439', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 261, 'Yes Probability': '0.010653759643387528', 'No Probability': '0.13555883299898502', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 476, 'Yes Probability': '0.027281314782229095', 'No Probability': '6.808367492706465e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 679, 'Yes Probability': '0.4868517496121673', 'No Probability': '0.02141312664034532', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 709, 'Yes Probability': '0.31645207725111796', 'No Probability': '0.006173132605472362', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 595, 'Yes Probability': '0.006568154270803325', 'No Probability': '0.1352824469830893', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 837, 'Yes Probability': '0.16834090677966107', 'No Probability': '0.07918456047757837', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 830, 'Yes Probability': '1.3892937397417098e-05', 'No Probability': '0.12135663510143421', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 239, 'Yes Probability': '0.32607908714954364', 'No Probability': '0.009037526251823722', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 703, 'Yes Probability': '0.00020122047458789158', 'No Probability': '0.15124571126362074', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 369, 'Yes Probability': '0.00023088218287636993', 'No Probability': '0.023878637189558585', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 373, 'Yes Probability': '0.029722864771284205', 'No Probability': '0.0949493433352272', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 423, 'Yes Probability': '0.31645207725111796', 'No Probability': '0.006173132605472362', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 734, 'Yes Probability': '0.5146424360210053', 'No Probability': '0.007331946999826844', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 94, 'Yes Probability': '0.4868517496121673', 'No Probability': '0.02141312664034532', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 626, 'Yes Probability': '0.0004957151858383593', 'No Probability': '0.016732390819559614', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 164, 'Yes Probability': '0.5302987333939329', 'No Probability': '0.0107340418103403', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 355, 'Yes Probability': '0.31645207725111796', 'No Probability': '0.006173132605472362', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 538, 'Yes Probability': '3.554714487668974e-05', 'No Probability': '0.1337602534720126', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 162, 'Yes Probability': '0.07840574010042371', 'No Probability': '0.1130035397241886', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 777, 'Yes Probability': '0.00020122047458789158', 'No Probability': '0.15124571126362074', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 87, 'Yes Probability': '0.2577057526335137', 'No Probability': '0.0026806897051111305', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 857, 'Yes Probability': '0.010653759643387528', 'No Probability': '0.13555883299898502', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 873, 'Yes Probability': '2.069232705197816e-10', 'No Probability': '0.0024026074888590194', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 585, 'Yes Probability': '0.5146424360210053', 'No Probability': '0.007331946999826844', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 562, 'Yes Probability': '0.4868517496121673', 'No Probability': '0.02141312664034532', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 858, 'Yes Probability': '0.3681864080800624', 'No Probability': '0.03881819915863473', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 437, 'Yes Probability': '3.6648083796610376e-05', 'No Probability': '0.14443206086282478', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 803, 'Yes Probability': '0.014836775978909792', 'No Probability': '0.039709945971900855', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 404, 'Yes Probability': '0.0015219277480194087', 'No Probability': '0.1557270013121586', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 695, 'Yes Probability': '0.01732608887665586', 'No Probability': '0.1610058040914032', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 675, 'Yes Probability': '0.0005804052276741503', 'No Probability': '0.08041324265953985', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 882, 'Yes Probability': '2.2534795875707844e-05', 'No Probability': '0.12160457027429805', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 814, 'Yes Probability': '0.2993636682378506', 'No Probability': '0.018028781475336132', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 127, 'Yes Probability': '2.761242049616234e-07', 'No Probability': '0.033639122197663164', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 914, 'Yes Probability': '0.01776443369775822', 'No Probability': '0.005361043433704567', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 116, 'Yes Probability': '0.0015219277480194087', 'No Probability': '0.1557270013121586', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 672, 'Yes Probability': '0.0015270400057312875', 'No Probability': '0.08074215153902944', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 351, 'Yes Probability': '0.00033593917164334575', 'No Probability': '0.004497161262694976', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 196, 'Yes Probability': '0.2141220460308607', 'No Probability': '0.0007614543056326734', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 57, 'Yes Probability': '0.1845608331590427', 'No Probability': '0.017992023242964363', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 832, 'Yes Probability': '0.02624074824575063', 'No Probability': '0.025286356385090712', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 310, 'Yes Probability': '0.3681864080800624', 'No Probability': '0.03881819915863473', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 331, 'Yes Probability': '4.6782048959146206e-05', 'No Probability': '0.09026968694617184', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 68, 'Yes Probability': '0.29773256403855547', 'No Probability': '0.05042285924663948', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 332, 'Yes Probability': '3.1411790686819123e-06', 'No Probability': '0.07950843557694554', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 798, 'Yes Probability': '0.4191039523709417', 'No Probability': '0.003183906145711624', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 112, 'Yes Probability': '0.13166299844142612', 'No Probability': '0.0006411064348650344', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 643, 'Yes Probability': '5.989554005950949e-16', 'No Probability': '0.0008153645838495031', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 650, 'Yes Probability': '4.401205363030068e-10', 'No Probability': '0.018679885975623273', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 992, 'Yes Probability': '0.22639670866125003', 'No Probability': '0.032682981876102905', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 333, 'Yes Probability': '0.036937851720985376', 'No Probability': '0.0015966842559113775', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 469, 'Yes Probability': '0.005036490296372043', 'No Probability': '9.852097025343905e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 223, 'Yes Probability': '0.4191039523709417', 'No Probability': '0.003183906145711624', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 665, 'Yes Probability': '0.5146424360210053', 'No Probability': '0.007331946999826844', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 931, 'Yes Probability': '0.004385306077747119', 'No Probability': '0.06531170743289352', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 938, 'Yes Probability': '0.030595136171714415', 'No Probability': '0.10965250085631548', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 93, 'Yes Probability': '5.1020310699556526e-05', 'No Probability': '0.03402193586763213', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 468, 'Yes Probability': '0.19509601608025584', 'No Probability': '0.006160546428026919', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 180, 'Yes Probability': '0.13166299844142612', 'No Probability': '0.0006411064348650344', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 67, 'Yes Probability': '0.2577057526335137', 'No Probability': '0.0026806897051111305', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 597, 'Yes Probability': '1.4235695525269539e-08', 'No Probability': '0.03109918207908922', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 953, 'Yes Probability': '0.010653759643387528', 'No Probability': '0.13555883299898502', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 638, 'Yes Probability': '0.1395759392612304', 'No Probability': '0.0326163457230136', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 51, 'Yes Probability': '0.2141220460308607', 'No Probability': '0.0007614543056326734', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 290, 'Yes Probability': '0.28114657074884974', 'No Probability': '0.0012564340371131464', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 764, 'Yes Probability': '0.000530798102902397', 'No Probability': '0.18000441225327224', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 615, 'Yes Probability': '9.376956844370235e-05', 'No Probability': '0.15919417223746238', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 533, 'Yes Probability': '1.2173340530833733e-08', 'No Probability': '0.011338237529097777', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 445, 'Yes Probability': '0.31645207725111796', 'No Probability': '0.006173132605472362', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 305, 'Yes Probability': '0.3681864080800624', 'No Probability': '0.03881819915863473', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 528, 'Yes Probability': '0.0015219277480194087', 'No Probability': '0.1557270013121586', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 919, 'Yes Probability': '0.32607908714954364', 'No Probability': '0.009037526251823722', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 317, 'Yes Probability': '0.004969880126605622', 'No Probability': '0.1808794829725278', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 307, 'Yes Probability': '5.7658624007716595e-05', 'No Probability': '0.13403352960181938', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 165, 'Yes Probability': '0.029722864771284205', 'No Probability': '0.0949493433352272', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 352, 'Yes Probability': '0.1845608331590427', 'No Probability': '0.017992023242964363', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 253, 'Yes Probability': '8.291296693942888e-05', 'No Probability': '0.09237696185574903', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 649, 'Yes Probability': '0.5146424360210053', 'No Probability': '0.007331946999826844', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 676, 'Yes Probability': '9.376956844370235e-05', 'No Probability': '0.15919417223746238', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 72, 'Yes Probability': '0.000530798102902397', 'No Probability': '0.18000441225327224', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 232, 'Yes Probability': '0.22639670866125003', 'No Probability': '0.032682981876102905', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 609, 'Yes Probability': '0.1728761759589343', 'No Probability': '0.0010578546082386587', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 823, 'Yes Probability': '0.28114657074884974', 'No Probability': '0.0012564340371131464', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 85, 'Yes Probability': '0.00020122047458789158', 'No Probability': '0.15124571126362074', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 215, 'Yes Probability': '0.31645207725111796', 'No Probability': '0.006173132605472362', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 991, 'Yes Probability': '0.22639670866125003', 'No Probability': '0.032682981876102905', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 824, 'Yes Probability': '0.4868517496121673', 'No Probability': '0.02141312664034532', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 629, 'Yes Probability': '0.22639670866125003', 'No Probability': '0.032682981876102905', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 22, 'Yes Probability': '0.04821145243097999', 'No Probability': '0.09514332763475439', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 471, 'Yes Probability': '4.6782048959146206e-05', 'No Probability': '0.09026968694617184', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 710, 'Yes Probability': '0.18307485306450091', 'No Probability': '0.042453525166497356', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 759, 'Yes Probability': '1.1955409320556932e-05', 'No Probability': '0.03381426156910068', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 82, 'Yes Probability': '0.3681864080800624', 'No Probability': '0.03881819915863473', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 54, 'Yes Probability': '3.554714487668974e-05', 'No Probability': '0.1337602534720126', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 732, 'Yes Probability': '0.29773256403855547', 'No Probability': '0.05042285924663948', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 601, 'Yes Probability': '9.376956844370235e-05', 'No Probability': '0.15919417223746238', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 134, 'Yes Probability': '0.5146424360210053', 'No Probability': '0.007331946999826844', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 921, 'Yes Probability': '0.1395759392612304', 'No Probability': '0.0326163457230136', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 76, 'Yes Probability': '0.2141220460308607', 'No Probability': '0.0007614543056326734', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 292, 'Yes Probability': '0.0009382843777794578', 'No Probability': '0.15540949514522093', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 806, 'Yes Probability': '0.10739021859551177', 'No Probability': '0.000260304110238968', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 129, 'Yes Probability': '0.28114657074884974', 'No Probability': '0.0012564340371131464', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 220, 'Yes Probability': '0.0005804052276741503', 'No Probability': '0.08041324265953985', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 150, 'Yes Probability': '0.049756524104946', 'No Probability': '0.13023636070352226', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 776, 'Yes Probability': '0.01732608887665586', 'No Probability': '0.1610058040914032', 'Prediction Result': 0, 'Ground Truth': 1}